model_list:
  # OPENROUTER MODELS
  - model_name: openai/gpt-oss-20b-or
    litellm_params:
      model: openrouter/openai/gpt-oss-20b:free
      api_key: "os.environ/OPENROUTER_API_KEY"
      rpm: 18
  # GOOGLE GEMINI MODELS
  - model_name: google/gemini-2.5-pro
    litellm_params:
      model: gemini/gemini-2.5-pro
      api_key: "os.environ/GEMINI_API_KEY"
      rpm: 2
      tpm: 125000
      rpd: 50
  - model_name: google/gemini-2.5-flash
    litellm_params:
      model: gemini/gemini-2.5-flash
      api_key: "os.environ/GEMINI_API_KEY"
      rpm: 10
      tpm: 250000
      rpd: 250
  - model_name: google/gemini-2.5-flash-lite
    litellm_params:
      model: gemini/gemini-2.5-flash-lite
      api_key: "os.environ/GEMINI_API_KEY"
      rpm: 15
      tpm: 250000
      rpd: 1000
  - model_name: google/gemini-2.0-flash
    litellm_params:
      model: gemini/gemini-2.0-flash
      api_key: "os.environ/GEMINI_API_KEY"
      rpm: 15
      tpm: 1000000
      rpd: 200
  - model_name: google/gemini-2.5-flash-tts
    litellm_params:
      model: gemini/gemini-2.5-flash-tts
      api_key: "os.environ/GEMINI_API_KEY"
      rpm: 3
      tpm: 10000
      rpd: 15
  # LM STUDIO MODELS
  - model_name: qwen/qwen3-vl-4b
    litellm_params:
      model: lm_studio/qwen/qwen3-vl-4b
  - model_name: qwen/qwen3-vl-8b
    litellm_params:
      model: lm_studio/qwen/qwen3-vl-8b
  - model_name: qwen/qwen3-vl-30b
    litellm_params:
      model: lm_studio/qwen/qwen3-vl-30b
  - model_name: qwen/qwen3-coder-30b
    litellm_params:
      model: lm_studio/qwen/qwen3-coder-30b
  - model_name: gemma-3-1b
    litellm_params:
      model: lm_studio/google/gemma-3-1b
  - model_name: gemma-3-4b
    litellm_params:
      model: lm_studio/google/gemma-3-4b
  - model_name: gemma-3-12b
    litellm_params:
      model: lm_studio/google/gemma-3-12b
  - model_name: gemma-3-27b
    litellm_params:
      model: lm_studio/google/gemma-3-27b
  - model_name: openai/gpt-oss-20b
    litellm_params:
      model: lm_studio/openai/gpt-oss-20b
  # GITHUB MODELS
  - model_name: openai/gpt-4o-mini
    litellm_params:
      model: github/gpt-4o-mini
      api_key: "os.environ/GITHUB_API_KEY"
      rpm: 10
  - model_name: openai/gpt-4.1
    litellm_params:
      model: github/gpt-4.1
      api_key: "os.environ/GITHUB_API_KEY"
      rpm: 10
  - model_name: openai/gpt-4o
    litellm_params:
      model: github/gpt-4o
      api_key: "os.environ/GITHUB_API_KEY"
      rpm: 10
  - model_name: openai/gpt-5-mini
    litellm_params:
      model: github/gpt-5-mini
      api_key: "os.environ/GITHUB_API_KEY"
      rpm: 2
  - model_name: openai/gpt-5
    litellm_params:
      model: github/gpt-5
      api_key: "os.environ/GITHUB_API_KEY"
      rpm: 10
  # GITHUB COPILOT MODELS
  - model_name: openai/gpt-4o-mini
    litellm_params:
      model: github_copilot/gpt-4o-mini-2024-07-18
      rpm: 10
      extra_headers:
        editor-version: "vscode/1.85.1"
        editor-plugin-version: "copilot/1.155.0"
        Copilot-Integration-Id: "vscode-chat"
        user-agent: "GithubCopilot/1.155.0"
  - model_name: openai/gpt-4.1
    litellm_params:
      model: github_copilot/gpt-4.1-2025-04-14
      rpm: 10
      extra_headers:
        editor-version: "vscode/1.85.1"
        editor-plugin-version: "copilot/1.155.0"
        Copilot-Integration-Id: "vscode-chat"
        user-agent: "GithubCopilot/1.155.0"
        Copilot-Vision-Request: "true"
  - model_name: openai/gpt-4o
    litellm_params:
      model: github_copilot/gpt-4o-2024-11-20
      rpm: 10
      extra_headers:
        editor-version: "vscode/1.85.1"
        editor-plugin-version: "copilot/1.155.0"
        Copilot-Integration-Id: "vscode-chat"
        user-agent: "GithubCopilot/1.155.0"
        Copilot-Vision-Request: "true"
  - model_name: openai/gpt-5-mini
    litellm_params:
      model: github_copilot/gpt-5-mini
      rpm: 10
      extra_headers:
        editor-version: "vscode/1.85.1"
        editor-plugin-version: "copilot/1.155.0"
        Copilot-Integration-Id: "vscode-chat"
        user-agent: "GithubCopilot/1.155.0"
        Copilot-Vision-Request: "true"
  - model_name: openai/gpt-5
    litellm_params:
      model: github_copilot/gpt-5
      rpm: 10
      extra_headers:
        editor-version: "vscode/1.85.1"
        editor-plugin-version: "copilot/1.155.0"
        Copilot-Integration-Id: "vscode-chat"
        user-agent: "GithubCopilot/1.155.0"
        Copilot-Vision-Request: "true"
  - model_name: x-ai/grok-code-fast-1
    litellm_params:
      model: github_copilot/grok-code-fast-1
      rpm: 10
      extra_headers:
        editor-version: "vscode/1.85.1"
        editor-plugin-version: "copilot/1.155.0"
        Copilot-Integration-Id: "vscode-chat"
        user-agent: "GithubCopilot/1.155.0"
  - model_name: raptor-mini
    litellm_params:
      model: github_copilot/raptor-mini
      rpm: 10
      extra_headers:
        editor-version: "vscode/1.85.1"
        editor-plugin-version: "copilot/1.155.0"
        Copilot-Integration-Id: "vscode-chat"
        user-agent: "GithubCopilot/1.155.0"
  - model_name: anthropic/claude-sonnet-4.5
    litellm_params:
      model: github_copilot/claude-sonnet-4.5
      rpm: 10
      extra_headers:
        editor-version: "vscode/1.85.1"
        editor-plugin-version: "copilot/1.155.0"
        Copilot-Integration-Id: "vscode-chat"
        user-agent: "GithubCopilot/1.155.0"
        Copilot-Vision-Request: "true"
  - model_name: anthropic/claude-opus-4.5
    litellm_params:
      model: github_copilot/claude-opus-4.5
      rpm: 3
      extra_headers:
        editor-version: "vscode/1.85.1"
        editor-plugin-version: "copilot/1.155.0"
        Copilot-Integration-Id: "vscode-chat"
        user-agent: "GithubCopilot/1.155.0"
        Copilot-Vision-Request: "true"
  - model_name: anthropic/claude-haiku-4.5
    litellm_params:
      model: github_copilot/claude-haiku-4.5
      rpm: 10
      extra_headers:
        editor-version: "vscode/1.85.1"
        editor-plugin-version: "copilot/1.155.0"
        Copilot-Integration-Id: "vscode-chat"
        user-agent: "GithubCopilot/1.155.0"
        Copilot-Vision-Request: "true"
  - model_name: google/gemini-3-pro-preview
    litellm_params:
      model: github_copilot/gemini-3-pro-preview
      rpm: 10
      extra_headers:
        editor-version: "vscode/1.85.1"
        editor-plugin-version: "copilot/1.155.0"
        Copilot-Integration-Id: "vscode-chat"
        user-agent: "GithubCopilot/1.155.0"
        Copilot-Vision-Request: "true"
  - model_name: google/gemini-3-flash-preview
    litellm_params:
      model: github_copilot/gemini-3-flash-preview
      rpm: 10
      extra_headers:
        editor-version: "vscode/1.85.1"
        editor-plugin-version: "copilot/1.155.0"
        Copilot-Integration-Id: "vscode-chat"
        user-agent: "GithubCopilot/1.155.0"
        Copilot-Vision-Request: "true"
  - model_name: google/gemini-2.5-pro
    litellm_params:
      model: github_copilot/gemini-2.5-pro
      rpm: 10
      extra_headers:
        editor-version: "vscode/1.85.1"
        editor-plugin-version: "copilot/1.155.0"
        Copilot-Integration-Id: "vscode-chat"
        user-agent: "GithubCopilot/1.155.0"
        Copilot-Vision-Request: "true"

litellm_settings:
  drop_params: true
  success_callback: ["mlflow"]
  failure_callback: ["mlflow"]

general_settings:
  master_key: "os.environ/LITELLM_MASTER_KEY"
  store_model_in_db: true