model_list:
  - model_name: x-ai/grok-4.1-fast
    litellm_params:
      model: openrouter/x-ai/grok-4.1-fast:free
      api_key: "os.environ/OPENROUTER_API_KEY"
      rpm: 18  # OpenRouter 免費模型限制是 20 RPM,留緩衝設 18
  - model_name: openai/gpt-oss-20b
    litellm_params:
      model: openrouter/openai/gpt-oss-20b:free
      api_key: "os.environ/OPENROUTER_API_KEY"
      rpm: 18  # OpenRouter 免費模型限制是 20 RPM,留緩衝設 18
  - model_name: gemini-2.5-pro
    litellm_params:
      model: gemini/gemini-2.5-pro
      api_key: "os.environ/GEMINI_API_KEY"
      rpm: 2
      tpm: 125000
      rpd: 50
  - model_name: gemini-2.5-flash
    litellm_params:
      model: gemini/gemini-2.5-flash
      api_key: "os.environ/GEMINI_API_KEY"
      rpm: 10
      tpm: 250000
      rpd: 250
  - model_name: gemini-2.5-flash-lite
    litellm_params:
      model: gemini/gemini-2.5-flash-lite
      api_key: "os.environ/GEMINI_API_KEY"
      rpm: 15
      tpm: 250000
      rpd: 1000
  - model_name: gemini-2.0-flash
    litellm_params:
      model: gemini/gemini-2.0-flash
      api_key: "os.environ/GEMINI_API_KEY"
      rpm: 15
      tpm: 1000000
      rpd: 200
  - model_name: gemini-2.0-flash-lite
    litellm_params:
      model: gemini/gemini-2.0-flash-lite
      api_key: "os.environ/GEMINI_API_KEY"
      rpm: 30
      tpm: 1000000
      rpd: 200



litellm_settings:
  drop_params: true
  success_callback: ["mlflow"]
  failure_callback: ["mlflow"]

general_settings:
  master_key: "os.environ/LITELLM_MASTER_KEY"