[project]
name = "llm-proxy"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "litellm[mlflow,proxy]>=1.77.3",
    "prisma>=0.15.0",
]
